body{
    margin: 0;
    background: #2d251a;
}
main{
    max-width: 1024px;
    margin: 0 auto;
    padding: 5vw;
    background: #ffffff;
    font-family: 'Fjalla One', sans-serif;
    min-height: 100vh
}
section{
    margin: 0;
}